

<ng-container>
  <div class="min-h-screen flex items-center justify-center">
    <div class="bg-white w-full max-w-md p-4 rounded shadow-md">
      <h1 class="text-3xl font-semibold text-center mb-4">Sign Up</h1>
      <p class="text-center text-gray-600">
        Have an account?
        <a (click)="navigateToLogin()" class="text-blue-500 ml-1 cursor-pointer">Sign In</a>
      </p>
      <mc-backend-error-messages
        *ngIf="isValidationErrors"
        [backendErrors]="isValidationErrors"
      ></mc-backend-error-messages>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4 space-y-4">
        <div class="mb-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Username</mat-label>
            <input matInput placeholder="Username" formControlName="username"
              class="py-2 px-3 border rounded w-full" />
          </mat-form-field>
          <div *ngIf="username.errors?.['required']" class="text-red-500">
            Username is required.
          </div>
        </div>
        <div class="mb-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email"
              class="py-2 px-3 border rounded w-full" />
          </mat-form-field>
          <div *ngIf="email.errors?.['required']" class="text-red-500">
            Email is required.
          </div>
        </div>
        <div class="mb-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password"
              class="py-2 px-3 border rounded w-full" />
          </mat-form-field>
          <div *ngIf="password.errors?.['required']" class="text-red-500">
            Password is required.
          </div>
        </div>
        <button
          type="submit"
          class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600"
          [disabled]="!form.valid"
        >
          Sign Up
        </button>
      </form>
    </div>
  </div>
</ng-container>
