<ng-container>
  <div class="min-h-screen flex items-center justify-center">
    <div class="bg-white w-full max-w-md p-8 rounded shadow-md">
      <h1 class="text-3xl font-semibold text-center mb-4">Sign In</h1>
      <p class="text-center text-gray-600">
        Don't have an account?
        <a (click)="navigateToRegister()" class="text-blue-500 ml-1">Sign Up</a>
      </p>
      <mc-backend-error-messages
        *ngIf="isValidationErrors"
        [backendErrors]="isValidationErrors"
      ></mc-backend-error-messages>
      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="mt-4">
        <div class="mb-4">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email" formControlName="email" class="py-2 px-4 rounded" />
          </mat-form-field>
        </div>
        <div class="mb-6">
          <mat-form-field appearance="fill" class="w-full">
            <mat-label>Password</mat-label>
            <input matInput type="password" placeholder="Password" formControlName="password" class="py-2 px-4 rounded" />
          </mat-form-field>
        </div>
        <button
          type="submit"
          class="w-full bg-blue-500 text-white py-2 rounded hover:bg-blue-600"
          [disabled]="!form.valid"
        >
          Sign In
        </button>
      </form>
    </div>
  </div>
</ng-container>
