<ng-container *ngIf="data$ | async as data">
  <nav class="bg-white border-b border-gray-200">
    <div class="container mx-auto flex items-center justify-between py-4">
      <a routerLink="/" class="text-2xl font-semibold text-blue-500">medium</a>
      <ul class="flex items-center space-x-4">
        <ng-container *ngIf="data.currentUser; else guestMenu">
          <!-- User menu items -->
          <li class="nav-item hidden md:block">
            <a routerLink="/articles/new" class="nav-link flex items-center">
              <i class="ion-compose mr-1"></i>
              New Post
            </a>
          </li>
          <li class="nav-item hidden md:block">
            <a routerLink="/settings" class="nav-link flex items-center">
              <i class="ion-gear-a mr-1"></i>
              Settings
            </a>
          </li>
          <li class="nav-item">
            <a [routerLink]="['/profiles', data?.currentUser?.username]" class="nav-link flex items-center">
              <img class="user-pic rounded-full h-8 w-8 mr-1" [src]="data.currentUser.image" />
              {{ data.currentUser.username }}
            </a>
          </li>
        </ng-container>
        <ng-template #guestMenu>
          <!-- Guest menu items -->
          <li class="nav-item">
            <a routerLink="/auth/login" class="nav-link">Sign in</a>
          </li>
          <li class="nav-item">
            <a routerLink="/auth/register" class="nav-link">Sign up</a>
          </li>
        </ng-template>
      </ul>
    </div>
  </nav>
</ng-container>
